<nav>
	<div class="nav-container">
	<% if(currentUser) { %>
		<a href="/water">Home</a>
		<a href="/water/new">Add an Entry</a>
		<div>
		<form action="/sessions?_method=DELETE" method="POST">
			<input type="submit" value="Log Out" class="account" >
		</form>
		</div>
	<% } else { %>
		<a href="/water">Home</a>
		<a href="/users/new">Register</a>
		<a href="/sessions/new">Login</a>
	<% } %>
	<h1 class="jumbotron">Waters: Reviewed</h1>
	</div>
</nav>