<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %>
</head>
<body>
    <div class="intro-container">
        <a href="/water" class="intro-link">Dive In</a>
    </div>
</body>
</html>