<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waters: Reviewed</title>
</head>
<nav>
    <a href="/">Home</a>
</nav>
<body>
    <div class="container">
        <h1>water</h1>
        <form action="/" method="POST">
            <input type="text" name="name"><br />
            <input type="text" name="img"><br />
            <textarea name="description"></textarea><br />
            <input type="text" name="type"><br />
            <input type="submit" value="Add Water">
        </form>
    </div>
</body>
<footer>

</footer>
</html>