<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waters: Reviewed</title>
</head>
<nav>

</nav>
<body>
    <div class="container">
        <h1>water</h1>
    </div>
</body>
<footer>

</footer>
</html>