nav {
    font-family: 'Karla', sans-serif;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 10vh;
    background-color: #1C335F;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    padding-left: 10px;
    padding-right: 10px;
}

nav a:hover {
    text-decoration: underline;
}

.account {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    background-color: white;
    padding: 5px;
    cursor: pointer;
}

body {
    background-color: white;
    font-family: 'Karla', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

.jumbotron {
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    font-size: 40px;
    position: absolute;
    right: 50%;
    top: 5px;
    color: white;
}

.directions {
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6%;
    flex-wrap: wrap;
    font-size: 22px;
    left: 20px;
    top: 40vh;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    margin: 150px auto;
    padding: 1em;
    gap: 15px;
    background: rgb(53,97,180);
    background: linear-gradient(68deg, rgba(53,97,180,1) 24%, rgba(0,212,255,1) 88%);
    overflow-y: auto;
    border-radius: 20px;
    border-bottom: 3px solid #1C335F;
    border-right: 3px solid #1C335F;
}

.water-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 15px;
    height: 40%;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    font-weight: bold;
    transition: all .1s ease-in-out;
}

.water-container:hover {
    transform: scale(1.1);
}

.water-container a {
    text-decoration: none;
    font-size: 1.5em;
    color: #3cc6ed;
}

.water-container a:hover {
    text-decoration: underline;
}

.show-container {
    display: flex;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.show-water {
    width: 50%;
}

.show-article {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.show-article h2 {
    font-size: 50px;
    text-decoration: underline;
}

.show-article span {
    font-size: 30px;
    font-style: italic;
}

.show-article p {
    font-size: 35px;
}

.reviews {
    width: 100%;
}

.reviews h2 {
    padding-left: 20px;
    font-size: 30px;
}

.reviews table {
    border-collapse: separate;
    border-spacing: 30px 10px;
}

.divider {
    width: 70%;
    height: 2px;
    background-color: black;
}

.edit-btn {
    display: flex;
    text-decoration: none;
    border: 1px solid rgb(98, 98, 98);
    border-radius: 3px;
    color: black;
    background-color: rgb(239, 239, 239);
    width: 5%;
    padding: 1px 9px;
    justify-content: center;

}

.forms-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 60vh;
    width: 80vw;
    margin: 150px auto;
    background: rgb(53,97,180);
    background: linear-gradient(68deg, rgba(53,97,180,1) 24%, rgba(0,212,255,1) 88%);
    overflow-y: auto;
    border-radius: 20px;
    border-bottom: 3px solid #1C335F;
    border-right: 3px solid #1C335F;
    color: white;
}

label {
    margin-bottom: 10px;
}

label, input {
    display: block;
}

label, textarea {
    display: block;
}

.forms textarea {
    margin-bottom: 10px;
}